.warning {
  background: #F5D76E;
}

.warning-message {
  color: #F5D76E;
}

.danger {
  background: #f03434;
}

.danger-message {
  color: #f03434;
}

.success {
  background: #00B16A;
}

.success-color {
  color: #00B16A;
}