@import 'base';
@import "components/table";

#dashboard-nav {
  position: fixed;
  border-right: 1px solid #cacaca;
  height: 100%;
  width: 15%;
}

#nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: block;
    position: relative;
    font-size: 1.2em;
    width: 100%;
    border-bottom: 1px solid #cacaca;
  }
}

.dash-link {
  position: relative;
  display: block;
  left: 20px;
  width: 100%;
  height: 100%;
  font-size: 1.6em;
  text-decoration: none;
  text-align: left;
  padding: 15px 15px 15px 0;
  
  &:hover, &:focus {
    width: 93%;
  }
}

.table-dropdown {
  cursor: pointer;
}

.print-row {
  display: initial;
}

.print-row-hidden {
  display: none;
}

#content {
  padding: 20px;
  margin-left: 15%;
}

