@import 'base';
@import 'components/buttons';
@import 'components/table';
@import 'components/flex';
@import 'components/forms';
@import 'mixins';
@import 'variables';

#overlay {
  @include z-index-5;
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  text-align:center;
  background: rgba(0, 0, 0, 0.8);
}

#overlay .modal {
  @include z-index-6;
  width: 600px;
  margin: 100px auto;
  background-color: #fff;
}

.modal-header {
  font-size: 1.3em;
  font-weight: bold;
  background: #313131;
  color: #eee;
  padding: 10px;
}

.modal-title {
  text-align: left;
}

.modal-close {
  text-align: right;
  span {
    cursor: pointer;
  }
}

body {
  background: #fcfcfc;
}

#navigation {
  @include z-index-2;
  height: 100%;
  width: 150px;
  position: fixed;
}

#dashboard-nav {
  @include z-index-3;
  background: #ebebeb;
  position: fixed;
  border-right: 1px solid #cacaca;
  height: 100%;
  width: 150px;
}

#nav-menu {
  @include z-index-4;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: block;
    position: relative;
    font-size: 1em;
    width: 100%;
    border-bottom: 1px solid #cacaca;
  }
}

.dash-link {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.4em;
  text-decoration: none;
  padding: 25px 15px 25px 0;
  color: #313131;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  &:hover {
    background: #eee;
    width: 93%;
  }
  i {
    font-size: 2em;
    display: block;
  }
}

#content {
  @include z-index-2;
  background: #fcfcfc;
  padding: 20px;
  margin-left: 15%;
}

#dashboardTitle {
  font-weight: normal;
  text-transform: uppercase;
}

.dashboard-card {
  padding: 10px;
  margin: 10px;
  border: 1px solid #eee;
  h3 {
    text-align: center;
    font-size: 1.6em;
    font-weight: normal;
  }
}

#jobsContainer {
  @include z-index-3;
}

.table-dropdown {
  cursor: pointer;
}

.print-row {
  table {
    width: 100%;
    border: none;
    border-left: 1px solid #cacaca;
    border-right: 1px solid #cacaca;
  }

  thead {
    background: #eee;
  }

  tr {
    border: none;
    border-bottom: 1px solid #cacaca;
  }

  tr:last-child {
    border: none;
  }
  
}

.print-container {
  padding: 0;
}

.print-row-hidden {
  display: none;
}

.prints-table {
  thead {
    th {
      font-weight: bold;
      font-size: 1em;
    }
  }

  td {
    font-size: 1em;
  }
}

.status-message {
  font-weight: bold;
  text-transform: uppercase;
}