@import 'base';
@import 'components/buttons';
@import 'components/table';
@import 'components/flex';
body {
  background: #fcfcfc;
}

#dashboard-nav {
  background: #ebebeb;
  position: fixed;
  border-right: 1px solid #cacaca;
  height: 100%;
  width: 150px;
}

#nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: block;
    position: relative;
    font-size: 1em;
    width: 100%;
    border-bottom: 1px solid #cacaca;
  }
}

.dash-link {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.4em;
  text-decoration: none;
  padding: 25px 15px 25px 0;
  color: #313131;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  &:hover {
    background: #eee;
    width: 93%;
  }
  i {
    font-size: 2em;
    display: block;
  }
}

#dashboardTitle {
  font-weight: normal;
  text-transform: uppercase;
}

.dashboard-card {
  padding: 10px;
  margin: 10px;
  border: 1px solid #eee;
  h3 {
    text-align: center;
    font-size: 1.6em;
    font-weight: normal;
  }
}

.table-dropdown {
  cursor: pointer;
}

.print-row {
  table {
    width: 100%;
    border: none;
  }

  thead {
    background: #eee;
  }
}

.print-row-hidden {
  display: none;
}

#content {
  background: #fcfcfc;
  padding: 20px;
  margin-left: 15%;
}

.prints-table {
  thead {
    th {
      font-weight: bold;
      font-size: 1em;
    }
  }

  td {
    font-size: 1em;
  }
}

.download-link {
  font-size: 1.3em !important;
}