@import 'base';
@import 'components/buttons';
@import 'components/forms';
@import 'components/flex';
@import 'components/progress-bar';
@import 'variables';
@import 'mixins';

#uploadProgress {
  @include z-index-1;
  margin: 20px auto;
}

#print-form-container {
  width: 50%;
  margin: 0 auto;
}

#uploadControl {
  position: relative;
  width: 80%;
  height: 90px;
  margin: 0 auto;
  padding-left: 10px;
  border: 1px solid #eee;
}

.button-container {
  text-align: right;
  height: 100%;
}

#browseButton {
  position: absolute;
  right: 0;
  display: block;
  height: 100%;
  font-size: 1.3em;
  padding: 0 40px;
  border-radius: 0;
  &:hover {
    background: #4e5863;
    cursor: pointer;
  }
}

#dragFile {
  margin-top: 12px;
  padding: 10px;
  text-align: center;
  border: 1px dashed #677E84;
  border-radius: 5px;
  height: 50%;
  span {
    @include vertical-align(relative, 25%);
  }
}

#fileLabel {
  padding: 20px 0 5px;
}

.file {
  border: 1px solid #000;
  margin: 5px 0;
  padding: 10px;
  position: relative;
}

.file-close {
  position: absolute;
  right: 10px;
  i {
    display: inline-block;
    cursor: pointer;
  }
}