html {
  height: 100%;
  font: 62.5%/1.5 'Montserrat', san-serif; }

body {
  width: 100%;
  height: 100%; }

#container {
  position: relative; }

button {
  font-family: 'Montserrat', sans-serif; }

.button, .button-primary, .button-secondary {
  border: none;
  padding: 10px 25px;
  color: #fff;
  border-radius: 3px; }

.button-primary {
  background: #313131; }

.button-secondary {
  background: #6C7A89; }

.table-button, .table-button-primary, .table-button-secondary {
  display: inline-block;
  font-size: 1.3em !important;
  color: #fff;
  padding: 5px 15px;
  border-radius: 3px;
  margin: 0 2px; }
  .table-button:hover, .table-button-primary:hover, .table-button-secondary:hover {
    cursor: pointer; }

.table-button-primary {
  background: #677E84; }

.table-button-secondary {
  background: #6C7A89; }

form {
  font-size: 1.6em; }
  form legend {
    font-size: 2em;
    margin: 5% 0 2%; }
  form input {
    font-family: 'Montserrat', san-serif; }
  form fieldset {
    border: none; }
  form input[type="text"] {
    width: 100%;
    padding: 8px; }
  form input[type="email"] {
    width: 100%;
    padding: 8px; }
  form input[type="file"] {
    display: none; }
  form select {
    padding: 5px 8px;
    font-family: 'Montserrat', san-serif; }
  form label {
    display: block;
    padding-bottom: 5px; }

.form-control {
  margin: 20px 0; }

.grid {
  height: 100%;
  display: flex; }

.grid-cell {
  flex: 1;
  height: 100%; }

.grid-fit {
  flex: 1; }

.grid-full {
  flex: 0 0 100%; }

.grid-1-2 {
  flex: 0 0 50%; }

.grid-1-3 {
  flex: 0 0 33.3333%; }

.grid-1-4 {
  flex: 0 0 25%; }

.grid-3-4 {
  flex: 0 0 75%; }

.grid-4-5 {
  flex: 0 0 80%; }

.grid-1-5 {
  flex: 0 0 20%; }

.warning {
  background: #F5D76E; }

.warning-message {
  color: #F5D76E; }

.danger {
  background: #f03434; }

.danger-message {
  color: #f03434; }

.success {
  background: #00B16A; }

.success-color {
  color: #00B16A; }

#uploadProgress {
  z-index: 100;
  margin: 20px auto; }

#print-form-container {
  width: 50%;
  margin: 0 auto; }

#uploadControl {
  position: relative;
  width: 80%;
  height: 90px;
  margin: 0 auto;
  padding-left: 10px;
  border: 1px solid #eee; }

.button-container {
  text-align: right;
  height: 100%; }

#browseButton {
  position: absolute;
  right: 0;
  display: block;
  height: 100%;
  font-size: 1.3em;
  padding: 0 40px;
  border-radius: 0; }
  #browseButton:hover {
    background: #4e5863;
    cursor: pointer; }

#dragFile {
  margin-top: 12px;
  padding: 10px;
  text-align: center;
  border: 1px dashed #677E84;
  border-radius: 5px;
  height: 50%; }
  #dragFile span {
    position: relative;
    top: 25%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

#fileLabel {
  padding: 20px 0 5px; }

.file {
  border: 1px solid #000;
  margin: 5px 0;
  padding: 10px;
  position: relative; }

.file-close {
  position: absolute;
  right: 10px; }
  .file-close i {
    display: inline-block;
    cursor: pointer; }
