html {
  height: 100%;
  font: 62.5%/1.5 'Montserrat', san-serif; }

body {
  width: 100%;
  height: 100%; }

#container {
  position: relative; }

button {
  font-family: 'Montserrat', sans-serif; }

.button, .button-primary, .button-secondary {
  border: none;
  padding: 10px 25px;
  color: #fff;
  border-radius: 3px; }

.button-primary {
  background: #313131; }

.button-secondary {
  background: #6C7A89; }

.table-primary {
  background: #677E84;
  color: #fff;
  padding: 5px 15px;
  border-radius: 3px; }

.table-secondary {
  background: #6C7A89; }

form {
  font-size: 1.6em; }
  form legend {
    font-size: 2em;
    margin: 5% 0 2%; }
  form input {
    font-family: 'Montserrat', san-serif; }
  form fieldset {
    border: none; }
  form input[type="text"] {
    width: 100%;
    padding: 8px; }
  form input[type="email"] {
    width: 100%;
    padding: 8px; }
  form input[type="file"] {
    display: none; }
  form select {
    padding: 5px 8px;
    font-family: 'Montserrat', san-serif; }
  form label {
    display: block;
    padding-bottom: 5px; }

.form-control {
  margin: 20px 0; }

.grid {
  height: 100%;
  display: flex; }

.grid-cell {
  flex: 1;
  height: 100%; }

.grid-fit {
  flex: 1; }

.grid-full {
  flex: 0 0 100%; }

.grid-1-2 {
  flex: 0 0 50%; }

.grid-1-3 {
  flex: 0 0 33.3333%; }

.grid-1-4 {
  flex: 0 0 25%; }

.grid-3-4 {
  flex: 0 0 75%; }

.grid-4-5 {
  flex: 0 0 80%; }

.grid-1-5 {
  flex: 0 0 20%; }

#uploadProgress {
  z-index: 100;
  margin: 20px auto; }

#print-form-container {
  width: 50%;
  margin: 0 auto; }

#uploadControl {
  padding-left: 10px;
  border: 1px solid #eee; }

.button-container {
  text-align: right;
  height: 100%; }

.browse-container {
  padding: 10px 0 10px 0; }

#browseButton {
  display: block;
  height: 100%; }

#dragFile {
  padding: 10px;
  text-align: center;
  border: 1px dashed #677E84;
  border-radius: 5px;
  height: 100%; }

#fileLabel {
  padding: 20px 0 5px; }
