button {
  font-family: 'Montserrat', sans-serif;
}

.button {
  border: none;
  padding: 10px 25px;
  color: #fff;
  border-radius: 3px;
}

.button-primary {
  @extend .button;
  background: #313131;
}

.button-secondary {
  @extend .button;
  background: #6C7A89;
}

.table-primary {
  background: #677E84 ;
  color: #fff;
  padding: 5px 15px;
  border-radius: 3px;
}

.table-secondary {
  background: #6C7A89;
}