button {
  font-family: 'Montserrat', sans-serif;
}

.button {
  border: none;
  padding: 10px 25px;
  color: #fff;
  border-radius: 3px;
}

.button-primary {
  @extend .button;
  background: #313131;
}

.button-secondary {
  @extend .button;
  background: #6C7A89;
}

.table-button {
  display: inline-block;
  font-size: 1.3em !important;
  color: #fff;
  padding: 5px 15px;
  border-radius: 3px;
  margin: 0 2px;
  &:hover {
    cursor: pointer;
  }
}

.table-button-primary {
  @extend .table-button;
  background: #677E84 ;
}

.table-secondary {
  @extend .table-button;
  background: #6C7A89;
}