.form  {
    font-size: 1.6em;

    legend {
        font-size: 2em;
        margin: 5% 0 2%;
    }

    select {
        padding: 5px 8px;
        font-family: 'Montserrat', san-serif;
    }
}

.modal-form {
    font-size: 1.3em;
    text-align: left;

    title {
        display: block;
    }

    select {
        padding: 3px 5px;
        font-family: 'Montserrat', san-serif;
    }
}

form {
    input {
        font-family: 'Montserrat', san-serif;
    }

    fieldset {
        border: none !important;
    }

    input[type="text"] {
        width: 100%;
        padding: 8px;
    }

    input[type="email"] {
        width: 100%;
        padding: 8px;
    }

    input[type="file"] {
        display: none;
    }



    label {
        display: block;
        padding-bottom: 5px;
    }
}

.form-control {
    margin: 20px 0;
}

.modal-form-control {
    margin: 10px 0;
}


