form {
    font-size: 1.6em;
    fieldset {
        border: none;
    }

    input[type="text"] {
        width: 100%;
        padding: 8px;
    }

    input[type="email"] {
        width: 100%;
        padding: 8px;
    }
}

.form-control {
    margin: 10px 0;
}


