table {
  width: 100%;
  border-collapse: collapse;
  thead {
    background: #313131;
    
    tr {
      border-bottom: 1px solid #cacaca;
      th {
        color: #eee;
        font-weight: bold;
      }
    }
  }

  th {
    padding: 15px;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: normal;
    color: #111;
  }

  tbody {
    color: #222;
    tr {
        border-bottom: 1px solid #cacaca;
    }
  }


  td {
    font-size: 1.4em;
    padding: 15px 15px;
  }
}

.number {
  text-align: right;
}

.letter {
  text-align: left;
}

.table-controls {
  text-align: center;
}